In [2]:
import pandas as pd

bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace = True)

bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [3]:
bond.sample()     # Random Sample asbe

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1

In [4]:
bond.sample(n = 5)   # n = joto gula Random degit lagbo

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [5]:
bond.sample(frac=.25)   # frac = koto parcent Sample lagbo data set theke

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [6]:
bond.sample(n = 3, axis="columns")   # 3 ta column er Random Sample Create hbe

,Box Office,Director,Bond Actor Salary
Film,,,
A View to a Kill,275.2,John Glen,9.1
Casino Royale,581.5,Martin Campbell,3.3
Casino Royale,315.0,Ken Hughes,NaN
Diamonds Are Forever,442.5,Guy Hamilton,5.8
Die Another Day,465.4,Lee Tamahori,17.9
Dr. No,448.8,Terence Young,0.6
For Your Eyes Only,449.4,John Glen,NaN
From Russia with Love,543.8,Terence Young,1.6
GoldenEye,518.5,Martin Campbell,5.1
Goldfinger,820.4,Guy Hamilton,3.2
Licence to Kill,250.9,John Glen,7.9
Live and Let Die,460.3,Guy Hamilton,NaN
Moonraker,535.0,Lewis Gilbert,NaN
Never Say Never Again,380.0,Irvin Kershner,NaN
Octopussy,373.8,John Glen,7.8
On Her Majesty's Secret Service,291.5,Peter R. Hunt,0.6
Quantum of Solace,514.2,Marc Forster,8.1
Skyfall,943.5,Sam Mendes,14.5
Spectre,726.7,Sam Mendes,NaN
The Living Daylights,313.5,John Glen,5.2
The Man with the Golden Gun,334.0,Guy Hamilton,NaN
The Spy Who Loved Me,533.0,Lewis Gilbert,NaN
The World Is Not Enough,439.5,Michael Apted,13.5
Thunderball,848.1,Terence Young,4.7
Tomorrow Never Dies,463.2,Roger Spottiswoode,10.0
You Only Live Twice,514.2,Lewis Gilbert,4.4

In [7]:
bond.sample(n = 3, axis="rows")   # 3 ta Row er Random Sample Create hbe

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN